body {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  clip-path: polygon(0 0, 100% 0%, 100% 94%, 0 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header::before,
footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(158, 140, 108, 0.1);
  z-index: 0;
}

.foto_con_shape {
  position: relative;
  width: fit-content;
  margin: 80px auto 0;
  z-index: 1;
}

.foto_perfil {
  width: 160px;
  height: 160px;
  border-radius: 175px;
  display: block;
}

.combined_shape {
  width: 100px;
  position: absolute;
  left: 90px;
  top: -30px;
  z-index: 2;
}

header h2,
.experience h2,
.education h2,
.nav h2,
.carrera h2 {
  color: #9e8c6c;
  font-family: "PT Sans Narrow";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

header h2 {
  margin: 30px 0 0 15px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  z-index: 1;
}

header h1 {
  margin: 14px 0 0 15px;
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: 56px;
  line-height: 46px;
  letter-spacing: -2.17px;
  text-align: center;
  position: relative;
  z-index: 1;
}

header button {
  width: 225px;
  height: 60px;
  margin: 40px 0px 100px;
  border: none;
  background-color: #0699a6;
  color: white;
  font-family: "PT Sans Narrow";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.about_me,
.experience,
.education,
.nav {
  margin-left: 20px;
  margin-right: 20px;
}

.about_me h1,
.experience h1,
.education h1 {
  font-family: "Playfair Display";
  font-weight: 900;
  letter-spacing: 0;
}

.about_me h1,
.experience h1 {
  font-size: 32px;
  line-height: 42px;
}

.about_me h1 {
  margin-top: 40px;
}

.about_me p,
.experience p,
.carrera_explicacion {
  font-family: "PT Sans Narrow";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0;
}

.about_me p {
  margin-top: 10px;
}

.experience h2 {
  margin-top: 24px;
  letter-spacing: 1px;
}

.experience h3 {
  margin-top: 8px;
  font-family: "PT Sans Narrow";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.experience p {
  margin-top: 20px;
}

.education h1 {
  font-size: 36px;
  line-height: 46px;
}

.education h2,
.carrera h2 {
  letter-spacing: 2px;
}

.education p {
  font-family: "PT Sans Narrow";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.nav h2 {
  letter-spacing: 2px;
}

.nav ul {
  padding-left: 0;
  list-style: none;
  font-family: "PT Sans Narrow";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.awards {
  margin-top: 60px;
}

.carrera_explicacion {
  margin-bottom: 60px;
}

.recent_works_ul {
  color: #0699a6;
  font-family: "PT Sans Narrow";
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

footer {
  margin-top: 71px;
  padding-top: 100px;
  position: relative;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  overflow: hidden;
}

footer h1,
footer h2 {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  position: relative;
  z-index: 1;
  font-family: "Playfair Display";
  font-weight: 900;
}

footer h1 {
  margin-top: 0;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -1.14px;
}

footer h2 {
  margin-top: 40px;
  color: #0699a6;
  font-size: 26px;
  line-height: 36px;
}

footer .iconos {
  display: flex;
  justify-content: space-between;
  margin: 45px 70px 92px;
  position: relative;
  z-index: 1;
}

.rectangulo_azul {
  width: 54px;
  height: 10px;
  margin: 40px 0;
  margin-left: 20px;
  background-color: #0699a6;
}

.block {
  display: block;
}

@media (min-width: 768px) {
  .foto_perfil {
    width: 200px;
    height: 200px;
  }

  .combined_shape {
    width: 100px;
    position: absolute;
    left: 130px;
    top: -30px;
    z-index: 2;
  }

  header h1 {
    font-size: 86px;
    line-height: 76px;
  }

  header h2,
  .experience h2,
  .education h2,
  .nav h2,
  .carrera h2 {
    font-size: 18px;
    line-height: 24px;
  }

  .about_me,
  .experience,
  .education,
  .nav {
    margin-left: 144px;
    margin-right: 139px;
  }

  p ul li {
    font-size: 20px;
    line-height: 34px;
  }

  footer h1 {
    font-size: 56px;
    line-height: 66px;
  }

  footer h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .rectangulo_azul {
    margin-left: 144px;
    margin-right: 139px;
  }
}

@media (min-width: 1440px) {
}
