body {
  display: flex;
  justify-content: center;
}

.pagina {
  width: 375px;
  height: 4477px;
}

header {
  width: 375px;
  height: 596px;
  position: relative;
}

/* FONDO DEL HEADER */
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(158, 140, 108, 0.1);

  clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);

  z-index: 0;
}

/* TODO EL CONTENIDO POR ENCIMA DEL FONDO */
header img,
header h1,
header h3,
header button {
  position: relative;
  z-index: 1;
}

header img {
  width: 160px;
  height: 160px;
  margin-top: 80px;
  margin-left: 108px;
  border-radius: 175px;
}

header h3 {
  color: #9e8c6c;

  width: 346px;
  height: 20px;
  margin-left: 15px;

  font-family: PT Sans Narrow;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
}

header h1 {
  width: 346px;
  height: 92px;
  margin-left: 15px;

  font-family: Playfair Display;
  font-weight: 900;
  font-size: 56px;
  line-height: 46px;
  letter-spacing: -2.17px;
  text-align: center;
}

header button {
  background-color: #0699a6;
  color: white;
  border: none;

  width: 225px;
  height: 60px;
  margin-left: 75px;

  font-family: PT Sans Narrow;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  text-align: center;
}

.about_me h1 {
  width: 335px;
  height: 42px;
  margin-left: 20px;

  font-family: Playfair Display;
  font-weight: 900;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 42px;
  letter-spacing: 0px;
}

.about_me p {
  width: 335px;
  height: 240px;
  margin-left: 20px;

  font-family: PT Sans Narrow;
  font-weight: 400;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 30px;
  letter-spacing: 0px;
}

.experience h1 {
  width: 335px;
  height: 42px;
  margin-left: 20px;

  font-family: Playfair Display;
  font-weight: 900;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 42px;
  letter-spacing: 0px;
}

.experience h3 {
  color: #9e8c6c;

  width: 335px;
  height: 24px;
  margin-left: 20px;

  font-family: PT Sans Narrow;
  font-weight: 700;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.experience p {
  width: 335px;
  height: 210px;
  margin-left: 20px;

  font-family: PT Sans Narrow;
  font-weight: 400;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 30px;
  letter-spacing: 0px;
}

.experience h2 {
  width: 224px;
  height: 24px;
  margin-left: 20px;

  font-family: PT Sans Narrow;
  font-weight: 400;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0px;
}

.education h1 {
  width: 335px;
  height: 46px;
  margin-left: 20px;

  font-family: Playfair Display;
  font-weight: 900;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 46px;
  letter-spacing: 0px;
}

.education h3 {
  color: #9e8c6c;

  width: 333px;
  height: 48px;
  margin-left: 20px;

  font-family: PT Sans Narrow;
  font-weight: 700;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.education p {
  width: 224px;
  height: 24px;
  margin-left: 20px;

  font-family: PT Sans Narrow;
  font-weight: 400;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0px;
}

.rectangulo_azul_1 {
  background-color: #0699a6;

  width: 54px;
  height: 10px;
  margin: 0px 0px 40px 20px;
}

.rectangulo_azul_2 {
  background-color: #0699a6;

  width: 54px;
  height: 10px;
  margin: 40px 0px 40px 20px;
}

.rectangulo_azul_3 {
  background-color: #0699a6;

  width: 54px;
  height: 10px;
  margin: 40px 0px 40px 20px;
}

h3 {
  width: 350px;
  height: 24px;
  margin-left: 20px;
}

.listas h3 {
  color: #9e8c6c;

  width: 350px;
  height: 24px;
  margin-left: 20px;

  font-family: PT Sans Narrow;
  font-weight: 700;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.listas ul {
  list-style: none;

  width: 335px;
  height: 210px;
  margin-left: 20px;
  padding: 0px;

  font-family: PT Sans Narrow;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0px;
}

.carrera {
  width: 335px;
  height: 450px;
  margin-left: 20px;

  font-family: PT Sans Narrow;
  font-weight: 400;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 30px;
  letter-spacing: 0px;
}

.recent_works_ul {
  color: #0699a6;
  list-style: none;

  width: 335px;
  height: 210px;
  margin-left: 20px;
  padding: 0px;

  font-family: Lucida Grande;
  font-weight: 600;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 30px;
  letter-spacing: 0px;
}

footer {
  background-color: #9e8c6c;
  opacity: 10%;

  clip-path: polygon(0 12%, 100% 0%, 100% 100%, 0% 100%);
  width: 375px;
  height: 425px;
}

footer h1 {
  width: 335px;
  height: 50px;
  margin-left: 20px;

  font-family: Playfair Display;
  font-weight: 900;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 50px;
  letter-spacing: -1.14px;
  text-align: center;
}

footer h2 {
  color: #0699a6;

  width: 335px;
  height: 72px;
  margin-left: 20px;

  font-family: Playfair Display;
  font-weight: 900;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
}

.iconos {
  display: flex;
  align-items: flex-end;
  width: 242px;
  margin-left: 66px;
}
